.map {
    position: relative;
}

.map-tiles {
  min-width: 500px;
  min-height: 600px;
}

.dungeon-card {
  max-width: 250px;
  max-height: 350px
}

.map-grid {
  position: absolute;
  min-width: 500px;
  min-height: 600px;
  top: 0;
  left: 0;
}

.map-info svg g polygon {
  stroke: none;
  stroke-width: 0.2;
  transition: fill-opacity .5s
}

.map-info {
  width: 500px;
  height: 800px;
  background-color: lightgray;
  position: relative;
}

.map-info-grid {
  position: relative;
}
.new-hex-grid {
  position: absolute;
}