.map-container {
    display: flex;
}

.map {
    position: relative;
}

.map-spawn-point {
    position: absolute;
    width: 60px;
    height: 52px;
}

.map-spawn-id {
    width: 59px;
    text-align: center;
    line-height: 50px;
    color: black;
    position: absolute;
    top: 0;
}

.map-spawn-point img{
  max-width: 60px;
  max-height: 52px;
}

.rotated {
  transform-origin: center;
  transform: rotate(90deg);
}

.dungeon-card {
  max-width: 300px;
  max-height: 400px
}